  #nav {
  /*  float: left;
  margin: 0 0 3em 0;*/
  padding: 0;
  list-style: none;
  border-bottom:1px solid #f1f1;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  background: #fff;
  margin:0px;
  }
  #nav li {
  display: inline-block;
  }
  #nav li a {
  display: inline-block;
  margin: 10px 10px;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  }
  .App-logo{
  width:60px;
  float: right;
  padding: 10px;
  margin: 10px 10px;
  }
  #textField{
  width: 80%;
  margin:20px 0px;
  padding:10px;
  border:none;
  border: 2px solid #f1f1;
  border-radius: 20px;
  }
  #textField:focus{
  outline: none;
  text-align: center;
  transform: scale(1.5);
  transition: 1s ease-in-out;
  }
  .container{
    display: flex;
    justify-content: space-between;
  }
  .panel{
  margin: 20px;
  }
  .footer{
  text-align: center;
  background: #46376a!important;
  color:#fff;
  padding:10px;
  }

  @media screen and (max-width: 750px){
    #textField{
      display: none;
    }
    .layout-panel {
      background:#ddd;
      display: grid;
      align-items: center;
    }
    div{
      margin:0px;
    }
    .container{
    display: flex;
    flex-direction: column;
  }
  #logo{

  }

  }

